<%- include("header") -%>


<div class="about-page">

  <div class="team-btn-div">
    <a class="btn btn-team" type="button" name="button"><%= ourTeam %></a>
  </div>
</div>
<div class="team-page" id="teamPage">
  <h2><%= ourTeam %></h2>
  <div class="row">
    <div class="col-md-12 team-member">
      <img src="<%= teamMembers[0].img %>" alt="my-pic">
      <h4><%= teamMembers[0].name %></h4>
      <p><%= teamMembers[0].description %></p>
    </div>
  </div>
  <div class="row">
    <% for (i=1; i < teamMembers.length; i++) { %>
      <div class="col-md-6 team-member">
        <img src="<%= teamMembers[i].img %>" alt="my-pic">
        <h4><%= teamMembers[i].name %></h4>
        <p><%= teamMembers[i].description %></p>
      </div>
    <% }; %>

<%- include("footer") -%>
