<!-- TODO: Center the cities in the contact section -->

  <div class="contact-section">
      <h2 class="section-header contact-header"><%= footer[0] %></h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 branch-info">
          <h3 class='section-header'><i class="fas fa-map-marker-alt hide"></i>Greer</h3>
          <p><a class="phone-link" href="https://www.google.com/maps/place/100+Arlington+Rd,+Greer,+SC+29650" target="_blank"><i class="fas fa-map-marker-alt"></i> 100 Arlington Rd. <br>
             <i class="fas fa-map-marker-alt hide"></i> Greer, SC 29651</a></p>
          <p><i class="fas fa-calendar-alt"></i> <%= footer[1] %>: 9:00AM - 6:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> <%= footer[2] %>: Closed</p>
        </div>
        <div class="col-lg-6 col-md-6 branch-info">
          <h3 class='section-header'><i class="fas fa-map-marker-alt hide"></i>Greenville</h3>
          <p><a class="phone-link" href="https://www.google.com/maps/place/1152+North+Pleasantburg+Dr.,+Greenville,+SC+29607" target="_blank"><i class="fas fa-map-marker-alt"></i> 1152 North Pleasantburg Dr. <br>
             <i class="fas fa-map-marker-alt hide"></i> Greenville, SC 29607</a></p>
          <p><i class="fas fa-calendar-alt"></i> <%= footer[1] %>: 9:00AM - 6:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> <%= footer[2] %>: Closed</p>
        </div>
      </div>


    <hr class="contact-hr">
    <div class="row">
      <div class="col-12 soc-icon-container">
        <p style='text-align: center; font-size: 1rem;'><a class="phone-link" href="tel:+18645568636"><i class="fas fa-phone-alt"></i> (864) 556-8636  </a></p>
        <p style='text-align: center; font-size: 1rem;'><i class="fas fa-fax"></i> (864) 513 - 8341</p>
      </div>

    </div>


    <div class="row">
      <div class="col-12 soc-icon-container">
        <a href="https://www.facebook.com/Mundo-Latino-Multiservicios-1546302372153620" target="_blnak">
          <i class="fab fa-facebook soc-icon" href="canasmh.github.io"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=18643767379" target="_blank">
          <i class="fab fa-whatsapp soc-icon"></i>
        </a>
        <a href="mailto:clientes@mundolm.com">
          <i class="fas fa-envelope soc-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="js/myscript.js" type="text/javascript">

  </script>

  <footer>
    <p>&copy Mundo Latino Multiservicios 2022</p>
  </footer>




  </body>
</html>
