<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2 class="welcome"><%= welcome[0] %></h2>
      <hr class="welcome-hr">
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios...</h1>
      <hr>
      <p class="motto"><%= welcome[1] %></p>
      <div class="welome-buttons">
        <a class="btn es-btn" href="/es"><%= welcome[2] %></a>
        <a class="btn quote-btn" href=" https://85f00e01-2392-47d4-a0f1-c2f3fd16b23c.quotes.iwantinsurance.com/auto"><%= welcome[3] %></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 scroll-down-div">
    <p style="text-align: center;"><i class="scroll-down-arrow fas fa-chevron-down"></i></p>
  </div>

</div>



<div class="about-section">
  <img class="team-img"src="images/group-pic.png" alt="team-img">
    <h2 class="section-header"><%= about[0] %></h2>
    <p><%= about[1] %> <b><%= about[2] %></b> <%= about[3] %> <i><%= about[4] %></i> <%= about[5] %></p>
</div>

<div class="service-section">
  <h2 class="section-header"><%= services[0] %></h2>
  <p><%= services[1] %></p>
  <div class="row service-row">
    <% for (i=0; i < allServices.length; i++) {%>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas <%= allServices[i].icon %>"></i>
        <h4><%= allServices[i].name %></h4>
        <h6><%= allServices[i].description %></h6>
      </div>
    <% }; %>
    <p class='many-more'><%= services[2] %></p>
  </div>
</div>

<%- include("footer") -%>
