<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2 class="welcome"><%= welcome[0] %></h2>
      <hr class="welcome-hr">
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios...</h1>
      <hr>
      <p class="motto"><%= welcome[1] %></p>
      <div class="welome-buttons">
        <a class="btn es-btn" href="/es"><%= welcome[2] %></a>
        <a class="btn quote-btn" href=" https://85f00e01-2392-47d4-a0f1-c2f3fd16b23c.quotes.iwantinsurance.com/auto"><%= welcome[3] %></a>
      </div>
    </div>

  </div>
</div>

<div class="about-section">
  <img class="team-img"src="images/group-pic.png" alt="team-img">
    <h2 class="section-header"><%= about[0] %></h2>
    <p><%= about[1] %> <b><%= about[2] %></b> <%= about[3] %> <i><%= about[4] %></i> <%= about[5] %></p>
</div>

<div class="service-section">
  <% if (lang=="en") { %>
    <h2 class="section-header">Our Services</h2>
    <p>We cover your needs of:</p>
    <div class="row service-row">
      <div class="col-lg-3 col-md-4 col-sm-12" style="text-align: center;">
        <i class="service-icon fas fa-shield"></i>
        <h4>Insurance</h4>
        <h6 >Car, Home, Apartments, Workers Comp., General Liability, Commercial Auto</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-car"></i>
        <h4>DMV Transactions</h4>
        <h6>License Plates, Transfers, Vehicle Registration, Decal Renewal, Automobile, Motorcycle, Trailer, Boat, Jet Ski</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fad fa-copy"></i>
        <h4>Document Services</h4>
        <h6>Fax, Copy, E-Mails, Translations, etc.</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-suitcase-rolling"></i>
        <h4>Travel Tickets</h4>
        <h6>Air, Sea and Land</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-stamp"></i>
        <h4>Public Notary, Marriage Officiant</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-money-check"></i>
        <h4>Money Order</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-envelope-open-dollar"></i>
        <h4>Wire Transfers</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-file-invoice-dollar"></i>
        <h4>Bill Payments</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-money-check-edit-alt"></i>
        <h4>Cash Checks</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-box-open"></i>
        <h4>Shipping to Central & South America</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-mobile"></i>
        <h4>Buy, Activate, or Recharge Cell Phone</h4>
      </div>
    </div>
    <p class='many-more'>... and many more!</p>
  <% } else { %>
    <h2 class="section-header">Nuestros Servicios</h2>
    <p>Cubrimos sus necesidades de:</p>
    <div class="row service-row">
      <div class="col-lg-3 col-md-4 col-sm-12" style="text-align: center;">
        <i class="service-icon fas fa-shield"></i>
        <h4>Seguros</h4>
        <h6 >Auto, Casa, Apartamentos, Workers Comp., General Liability, Auto Comercial </h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-car"></i>
        <h4>Transacciones del DMV</h4>
        <h6>Placas, Transferencias, Registro de Auto, Renovación de Sticker, Autos, Motos, Tráiler, Lancha, Jet Ski</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fad fa-copy"></i>
        <h4>Servicios de documentos</h4>
        <h6>Fax, Copiar, Correo Electrónico, Traducciones, etc.</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-suitcase-rolling"></i>
        <h4>Boletos de viaje</h4>
        <h6>Aire, Mar y Tierra</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-stamp"></i>
        <h4>Notario Público, Oficiante de Matrimonios</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-money-check"></i>
        <h4>Money Order</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-envelope-open-dollar"></i>
        <h4>Envíos de dinero</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-file-invoice-dollar"></i>
        <h4>Pagos de Biles</h4>
        <h6>Estatales, Nacionales e Internacionales</h6>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-money-check-edit-alt"></i>
        <h4>Cheques en Efectivo</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-box-open"></i>
        <h4>Paqueteria, Sobres a Centro y Sur America</h4>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <i class="service-icon fas fa-mobile"></i>
        <h4>Venta, Activación y Recarga de Celulares</h4>
      </div>
    </div>
    <p class='many-more'>... y muchos mas!</p>
  <% } %>
</div>

<%- include("footer") -%>
